.social{
padding: 20px 0;
}

.socialList{
    display: flex;
    justify-content: space-evenly;
}

.socialIcon{
    text-decoration: none;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5em;
    background-color: #4E326C;
    color: #E6E6E6;
}