/* Search Section */

.navbar-open {
  position: fixed;
  align-self: flex-start;
  width: 100%;
}

.search {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background-color: #ffffff;
}

.search > * {
  margin: 0 20px;
}

.navbar-btn {
  background-color: transparent;
  color: #4f346a;
  font-size: 2em;
  cursor: pointer;
}
